html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

article {
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  font-family: "Crimson Text", serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.3rem;
  color: #222;
  margin: 10px;
}

article header {
  margin-bottom: 10px;
}

article h1 {
  font-size: 1.5rem;
}

article header p {
  font-style: italic;
}

article p {
  border-top: 2px;
}

blockquote {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #555;
  font-size: 1em;
}

blockquote p {
  text-align: center;
}

.quote {
  color: #999;
}

article ol {
  list-style-type: decimal;
}

ol ~ p {
  border-bottom: 2px;
}
