html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Crimson text, serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1rem;
  color: #222;
  background-color: #999;
  margin: 2rem;
  padding: 0rem 1rem;
}

h1 {
  font-size: 1.5rem;
}

header > p {
  font-style: italic;
}

artical > p {
  border: border: 2px 0px 0px 0px solid #222;
}

.quote {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}

ol {
  list-style-type: decimal;
}

ol ~ p {
   border: 0px 0px 2px 0px solid #222;
 }
